.bg-blueSteel{
    background-color: #435779;
    color: white;
};


.nav-link{
    font-size: .9rem !important;
}

h2{

    font-size: 1.3rem !important;
    margin-bottom: 0 !important;

    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: white;
            opacity: .8;
        }
    }
}
