.bg-blueSteel{
    background-color: #435779;
    color: white;
};


.nav-link{
    font-size: .9rem !important;
}

h2{

    font-size: 1.3rem !important;
    margin-bottom: 0 !important;

    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: white;
            opacity: .8;
        }
    }
}

.from-app-color{
    background: linear-gradient(90deg, rgba(67,87,121,1) 0%,  rgba(67,87,121,.8) 35%,  rgba(67,87,121,0) 100%);
}
