/node_modules
/public/hot
/storage
/public/storage
/public/app/public/
/storage/*.key
/vendor
/storage/logs/*.log
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
# Project exclude paths
/package-lock.json
